.cuadroNaranja2{
    background-color: #B41802;
    -webkit-box-shadow: -38px 12px 0px -11px #FEAE4F;
    box-shadow: -38px 12px 0px -11px #FEAE4F;
}
.contacto_contenido{
    display: flex;
}
.imagen1{
    justify-content: center;
}
.imagen1 img{
    width: 70%;
}
.complejo{
    justify-content: center;
    align-items: center;
}
.icono_contactame{
    display: flex;
    align-items: center;
}
.icono_contactame img{
    margin: 1%;
    margin-right: 2%;
    width: 4%;
}
a{
    text-decoration: none;
    text-decoration:none;
}