.imagenesIconos img{
    width: 15%;
    margin-top: 5%;
}
.capa_react img{
    width: 60%;
    justify-content: space-around;
}
.container_conreact{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}
.columna_iconos{
    flex-direction: column;
    width: 40%;
}
.containerIconos1{
    display: flex;
    justify-content: space-around;
}
.containerIconos1 img{
    width: 40%;
}
.containerIconos2{
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
}
.containerIconos2 img{
width: 40%;
margin-top: 5%;
margin-left: 5%;
margin-right: 5%;
}
.texto2{
    margin-left: 30%;
}