.menu{
    right: 0;
    width: 15%;
    height: 100vh;
    float: right;
    position: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.opcionesMenu{
    text-align: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    margin-right: 0%;
}
.imagenMia img{
    width: 60%;
    align-items: center;
    margin-top: 10%;
}